* {
font-family: 'Montserrat', sans-serif;
color: white;
margin: 0;
padding: 0;
font-size: 30px;
}



/* Navigation */



.nav {
position: absolute;
display: inline-flex;
margin: 2%;
position: left;
z-index: 20;
text-decoration: none;


}

.navlist {
margin-right: 5%;
list-style: none;
font-size: 1em;
opacity: 1;
}

.navlist a {
text-decoration: none;
}

.navlist a:hover {
color:bisque;
cursor: pointer;

}

@media only screen and (max-width: 750px) {

  .navlist a {
font-size: 2vw;

    }

}





/* Banner Div */


.bannerdiv {
background-image: url('../pictures/CalvinBanner.png');
background-repeat: no-repeat;
background-position: center;
height: 950px;
background-size: cover;
position: center;
display: flex;
margin: 0 auto;
justify-content: center;
align-items: center;
background-color: black;
opacity: 0.7;
}

.bannerdiv h1 {
font-size: 4rem;
opacity: 1;
justify-self: center;
justify-items: center;
text-align: center;
opacity: 1;
}

@media only screen and (max-width: 750px) {

.bannerdiv h1 {
font-size: 17vw;
margin: 0 auto;
justify-self: center;

    }
    
.bannerdiv {
background-position: right 25%;

}

}


/* Bio Div */

.bio {
background-color: bisque;
height: 600px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
justify-items: center;


}

.bio h2 {
font-size: 2.5rem;
text-align: center;
}

.bio p {
font-size: 1.3rem;
text-align: center;
margin-top: 3%;
max-width: 1400px;
}

@media only screen and (max-width: 950px) {

    .bio h2 {
        font-size: 7vw;
        }
        
        .bio p {
        font-size: 5vw;  
        margin-top: 15%;  
        }
        


}

@media only screen and (max-width: 700px) {

.bio h2 {
font-size: 8vw;
}

.bio p {
font-size: 6vw;  
margin-top: 15%;  
}

}


/* Gallery */




.gallery {
background-color:rosybrown;
height: 2100px;
display: flex;
flex-direction: column;

}

.gallery h2 {
text-align: center;
font-size: 3.5rem;
align-self: center;
margin-top: 4%;


}

.galleryimages {
display: inline-flex;
margin: 0 auto;
justify-content: center;
align-items: center;
background-color:rosybrown;
justify-content: space-around;
flex-flow: row wrap;
position: center;
margin-top: 4%;

}

.gallery img {
width: 30%;
height: 700px;
min-width: 350px;
flex-wrap: wrap;
object-fit: cover;
display: inline-flex;
flex-flow: row;
margin: 0 auto;
border-radius: 10%;
border: 3px;
border-color: white;
border-style: solid;
margin-top: 4%;
margin-bottom: 4%;
}

.gallery img:hover {
opacity: 0.5;


}


@media only screen and (max-width: 1100px) {
.gallery {
height: 2600px;

}
}

@media only screen and (max-width: 730px) {
.gallery {
height: 4800px;
}

}



@media only screen and (max-width: 900px) {

.gallery h2 {
font-size: 12vw;
margin-top: 7%;
margin-bottom: 5%;

}
}


/* About section */

@media only screen and (max-width: 900px) {
.about {
background-position: left;
}


}




.about {
    background-image: url('../pictures/CalvinEditedAbout.png');
    background-repeat: no-repeat;
    background-position: top;
    height: 700px;
    background-size: cover;
    display: flex;
    opacity: 0.7;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.about h2 {
    text-align: center;
    font-size: 3.5rem;

}

.about p {
text-align: center;
max-width: 80%;
margin: 0 auto;
line-height: 1.5;
font-size: 1.3rem;
margin-top: 3%;
}


@media only screen and (max-width: 1000px) {

    .about h2 {
    font-size: 8vw;
    }
    
    .about p {
    font-size: 3.5vw;  
    margin-top: 15%;  
    }
    
    }


@media only screen and (max-width: 700px) {

    .about h2 {
    font-size: 8vw;
    }
    
    .about p {
    font-size: 4vw;  
    margin-top: 15%;  
    }
    
    }






@media only screen and (max-width: 600px) {

    .about h2 {
    font-size: 9vw;
    }
    
    .about p {
    font-size: 5vw;  
    margin-top: 15%;  
    }
    
    }


    /* Contact Section */

.contact { background-color: bisque;
height: 700px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

.contact h2 {
text-align: center;
font-size: 3.5rem;


}

.contact img {
height: 300px;
width: 300px;
border-radius: 50%;
object-fit: cover;
justify-self: start;
opacity: 1;

}

.contactinfo {
display: grid;
width: 70%;
height: 300px;
grid-template-columns: 2fr 4fr;
grid-template-rows: 1fr 1fr 1fr;
margin-top: 4%;
align-items: center;
border: 4px;
border-style: solid;
padding: 15px;
border-top-left-radius: 150px;
border-bottom-left-radius: 150px;
border-bottom-right-radius: 150px;
border-top-right-radius: 150px;
justify-items: flex-start;

}

.calvinlogo {
grid-row-start: 1;
grid-row-end: 4;

}

.email {
    grid-row-start: 1;
    grid-column: 2;
}

.insta {
    grid-row-start: 2;
    grid-column: 2;

}

.facebook {
grid-row-start: 3;
grid-column: 2;

}

@media only screen and (max-width: 1600px) {

  

    .calvinlogo {
    display: none;

    }

    .contactinfo {
    grid-template-columns: 2fr 7fr 1fr;
    justify-content: center;
    row-gap: 10px;
    } 
    
}    

@media only screen and (max-width: 1300px) {

    .contact h2 {
        font-size: 10vw;
        }
        
        .contactinfo p {
        font-size: 3vw; 
        }
        
}

@media only screen and (max-width: 900px) {

.contactinfo p {
font-size: 5vw;

}

.contactinfo {
border: none;

}

}

@media only screen and (max-width: 600px) {

.contact {
height: 550px;

}

}
